html,body,h1,h2,h3,h4,h5,h6 {
  font-family: Verdana, Geneva, sans-serif;
}
/* 
  COLOR PALETTE
 #eaece5 - Text
 #b2c2bf - Content BG
 #c0ded9 - Hover
 #2E2E28 - Buttons
*/

/* Generic */
html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit}

body{
  margin:0;
  background-color: #000;
  color: #eaece5;
}
h1,h2,h3,h4,h5,h6 {
  color: #eaece5;
}
p{
  color: #eaece5;
  text-align: justify;
}

a {
  color: #eaece5;
}

a:hover {
  color: #e0fef9;
}

a.active {
  outline: none !important;
  border: 0; 
}

::-moz-focus-inner {
  border: 0 !important;
}


/* Navigation */
.topbar {
  color:#eaece5;
  background-color:#2E2E28;
  font-size:18px;
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
}

.sidebar {
  background-color:#232329;
  z-index: 3;
  height:100%;
  width: 341px;
  top: 47px;
  bottom: 0;
  height: inherit;
  position:fixed;
  overflow:auto;
}

.nav-card {
  color:#eaece5;
  background-color:#b2c2bf;
}

.nav-card:hover{
  background-color:#2E2E28;
  color:#c0ded9;
}

.nav-item {
  padding:12px 24px;
  float:left;
  width:auto;
  border:none;
  outline:none;
  display:block;
  white-space:normal;
  text-align:center;
}

.nav-button{
  border:none;
  display:inline-block;
  outline:0;
  vertical-align:middle;
  text-decoration:none;
  cursor:pointer;
}

.nav-button:hover{
  color: #2E2E28;
  background-color: #c0ded9;
}

.sidebar .nav-button{
  width: 100%;
}

.menu-btn{
  padding:12px 24px;
  display: block;
  color:#c0ded9;
  background-color:#2E2E28;
  float:right;
  text-decoration: none;
}
.menu-btn:hover{
  color:#2E2E28;
  background-color:#b2c2bf;
}

.profile{
  display: table;
}

.profile-item{
  display: table;
  margin-top: 1em;
  margin-left: 1em;
}

.profile-item *{
  margin-top: 0;
  margin-bottom: 0;
}
/* bottombar */
.bottombar {
  /*color:#026E82;*/
  background-color:#2E2E28;
  padding: 2em;
  width:100%;
  z-index:1;
  bottom: 0;
  width: 100%;
}
/* Content */
.main {
  margin-top: 4em;
  margin-left: 341px;
  transition: margin-left .4s;
}
.content {
  background-color:#5D7872;
  position: relative;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
  border-radius: 1em;
}

/* Overlay */
.overlay{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;left:0;right:0;bottom:0;
  background-color:rgba(0,0,0,0.5);
  z-index:2
}

/* Games tab */
.filter-btn {
  background-color: #2E2E28;
  color: #eaece5;
  border-radius: 1em;
  padding: 6px;
  margin: 6px;
}

.filter-btn:hover {
  background-color: #c0ded9;
  color: #2E2E28;
}

.filter-btn.active {
  background-color: #eaece5;
  color: #2E2E28;
}

.games-tab {
  overflow: hidden;
  float: left;
  width: 30%;
  margin-right: 1em;
}

.games-tab button {
  display: block;
  background-color: #2E2E28;
  color: #eaece5;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.games-tab button:hover {
  background-color: #c0ded9;
  color: #2E2E28;
}

.games-tab button.active {
  background-color: #eaece5;
  color: #2E2E28;
}

.tabcontent {
  width: 100%;
}

/* MEDIA */
@media (min-width:993px){.sidebar.collapse{display:block!important}.menu-btn{display:none}.overlay{display:none!important}}
@media (max-width:992px){.sidebar.collapse{display:none}.main{margin-left:0;margin-right:0}}