/* Content */
body {
    background-color: #000;
    margin: 60px auto;
    font-family:'Sans-Serif','Helvetica', 'Arial';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

/* Header */
header{align-items: center; margin-top: 45px;position: static;}

header h2{
    font-family: sans-serif;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

header h2 a{color: black;text-decoration: none;}

.headerimage {display: block; position: relative; width: 100%;}

.headerbox {
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 100px; 
    font-family: sans-serif;
    background: rgba(88,127,210,0.85);
}
.headersocial {position: relative;}

/* Menu de navegação */
.navMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navMenu li {
    float: left;
    font-family: sans-serif;
}

.navMenu li a{
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.navMenu a:hover{
    background-color: #111;
}

.navMenu .search{
    white-space: nowrap;
    float: right;
    margin: 5px;
    margin-right: 25px;
}

.navMenu input{
    padding-left: 25px;
}

.navMenu .icon{
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
    z-index: 1;
}

.navMenu input[type=text] {
    width: 125px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: whitesmoke;
    padding-left: 20px;
    margin-top: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.navMenu input[type=text]:focus {
    width: 100%;
}
/* Footer */
footer{
    border-top: 1px solid #d5d5d5;
    text-align: center;
    font-size: .8em;
    color: white;
    padding: 20px;
    background: #000;
}
footer a{color: white;}
footer div{margin: 10px;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

/* Social */
.socialMedia a{color:white;font-size: 24px;margin: 5px;}
.socialMedia a:hover {color: aqua;}