---
name: Tabela Katakana
cat: japanese
priority: 1
lang: br
---

<p>
	Após aprender o <b>Hiragana</b>, você está pronto para aprender o segundo silabário japonês, o <b>Katakana</b>(片仮名 ~ かたかな ~ カタカナ). Os caracteres do Katakana são utilizados principalmente para representar onomantopéias e palavras ou nomes estrangeiros. Quando você estiver aprendendo os <b>Kanjis</b> irá notar que eles possuem duas categorias de pronúncia: <b>Kun'yomi</b>, a leitura japonesa, que será descrita com Hiragana, e <b>On'yomi</b> a leitura importada da china, que será descrita com Katakana.
</p>

{% include /apps/katakana_table.html %}

<p>
	Na tabela acima, você pode clicar nos Katakanas para escutar seu som.
	Todos os sons foram obtidos no site <a href="https://soundoftext.com/" target="_blank">https://soundoftext.com/</a>.
</p>
	Como no Hiragana, o Katakana também utiliza o <b>Soukuon</b>(Tsu pequeno, ッ), e o <b>Chōonpu</b>(長音符 ~ ー), que indica o alongamento de uma vogal. O Chōonpu também pode ser visto no higana, porém é mais comúm ver uma vogal representando o alongamento. Um exemplo de palavra escrita com Katakana e possuindo tanto o tsu pequeno quanto o alongamento é {% include sound sound='ポッキー' %}, um lanche japonês.
<p>
	Uma questão sobre silabários é sobre a representação de palavras estrangeiras. O Katakana possui diversas adições modernas para complementar os sons do silabário, por exemplo {% include sound sound='フォ' %} para o som de "fo", como na palavra {% include sound sound='フォーク' %} ('garfo', do inglês fork). Mas para palavras como <b>Brasil</b> ou <b>Portugal</b>, sem possuir os sons de 'Bra', 'zi', 'Por' e 'l', o que acontece é a separação e aproximação dos sons, ficando {% include sound sound='ブラジル' %} e {% include sound sound='ポルトガル' %} respectivamente.
</p>

<p>
	<h4>Externo:</h4>
	Para você aprender a escrita e alguns usos do Katakana eu recomendo a playlist do <a href="https://www.youtube.com/watch?v=q3QToWr-GS0&list=PL5032B2BE1CD0F7E1" target="_blank">Fale em Japonês</a>, no youtube.
</p>

<p></p>