---
layout: default
title: Projects
css: proj.css
related:
  - games
  - ue4
  - jams
  - game_development
jquery: true
---
<div class="about">
	<h2>Projects</h2>
	<div class="filter-tab">
		Filter: 
		<button class="filter-btn active" onclick="filterSelection('all')">Show all</button>
		<button class="filter-btn" onclick="filterSelection('machine')">Machine Bear</button>
		<button class="filter-btn" onclick="filterSelection('jams')">Jams</button>
    <button class="filter-btn" onclick="filterSelection('personal')">Personal</button>
	</div>
	<div class="games-tab">
    {% for proj in site.projects %}
      <div class="filterDiv {{ proj.category }}"><button class="tablinks" onclick="openGame(event, '{{ proj.short }}', {{ forloop.index0 }})" {% if forloop.index0 == 0 %} id="defaultOpen" {% endif %} >{{ proj.title }}</button></div>
    {% endfor %}
	</div>
</div>

{% for proj in site.projects %}
  <div id="{{ proj.short }}" class="tabcontent">
    <h2>{{ proj.title }}</h2>
    <div class="slide">
        <img class="slide_img" src="/assets/img/ajax-loader.gif" data-src="{{ proj.img1 }}" alt="{{ proj.title }}">
        <img class="slide_img" src="/assets/img/ajax-loader.gif" data-src="{{ proj.img2 }}" alt="{{ proj.title }}">
        <img class="slide_img" src="/assets/img/ajax-loader.gif" data-src="{{ proj.img3 }}" alt="{{ proj.title }}">
      <div class="slide_sel">
        <img class="slide_btn low-opacity" onclick="currentDiv(1)" src="/assets/img/ajax-loader.gif" data-src="{{ proj.low1 }}" alt="{{ proj.title }} 1">
        <img class="slide_btn low-opacity" onclick="currentDiv(2)" src="/assets/img/ajax-loader.gif" data-src="{{ proj.low2 }}" alt="{{ proj.title }} 2">
        <img class="slide_btn low-opacity" onclick="currentDiv(3)" src="/assets/img/ajax-loader.gif" data-src="{{ proj.low3 }}" alt="{{ proj.title }} 3">
      </div>
    </div>    
    {{ proj.content }}
    {% if proj.youtube %}
      <div class="youtube" data-embed="{{ proj.youtube }}">
        <div class="play-button"></div>
      </div>
    {% endif %}
  </div>
{% endfor %}

<div style="clear: left;"></div>

<!-- Games Table -->
<script type="text/javascript">
/* Filtro de botoes */
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Display elements
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    if (x[i].className.indexOf(c) > -1) x[i].style.display = "block";
  }
}
/* Mostra Conteudo */
var contentIndex = 0;

function openGame(evt, cityName, idx) {
    // Declare all variables
    var i, tabcontent, tablinks;
    contentIndex = idx;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";

    currentDiv(1);
}

/* Controle SlideShow */
var slideIndex = 1;

function currentDiv(n) {
  showDivs(slideIndex = n + (3*contentIndex));
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slide_img");
  var dots = document.getElementsByClassName("slide_btn");
  if (n>x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.opacity = 0;
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" normal-opacity", "");
  }
  
  x[slideIndex-1].style.opacity = 1;
  dots[slideIndex-1].className += " normal-opacity";
  // Carrega imagem se for preciso
  if(x[slideIndex-1].getAttribute('data-src').localeCompare(x[slideIndex-1].src ==0) ){
    x[slideIndex-1].setAttribute('src', x[slideIndex-1].getAttribute('data-src'));
  }
}

/* Carrega imagens dos botoes */
function loadSlideImages(){
  var slideButtons= document.getElementsByClassName('slide_btn');
  for (var i=0; i<slideButtons.length; i++) {
    slideButtons[i].setAttribute('src', slideButtons[i].getAttribute('data-src'));
  }
}

/* Chamadas */

window.addEventListener('load', function(){
  filterSelection("all");
  document.getElementById("defaultOpen").click();
  loadSlideImages();
  showDivs(slideIndex);
}, false)

</script>

{% include youtube_support.html %}