<div>
  <div style="float: left;">
      <a href="/{% unless page.lang == 'en' %}{{ page.lang }}{% endunless %}">
  		  <img src="" width="116" height="116" id="profile_image" alt="Kaique de Queiroz">
      </a>
  </div>
  <div class="profile">
    <div class="profile-item"><h3><b><a href="/about" style="text-decoration: none;">Kaique de Queiroz</a></b></h3></div>
    <div class="profile-item"><p class="typewrite" data-period="2000" data-type='[ "Game Developer", "C++ Java Python", "Game Designer", "Coding HTML, CSS and JS", "Games from scratch", ":)" ]'>
    <span class="wrap"></span></p></div>
    <div class="profile-item">{% include elem/social.html %}</div>
  </div>
  <div style="clear: left;"></div>
</div>