{% if page.lang == "br" %}
	{%- assign text_all = "Todos" -%}
{% else %}
	{%- assign text_all = "All" -%}
{% endif %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a id="defaultClass" class="nav-link active" href="#" onclick="filterSelection('all')">
			{{ text_all }}
		</a>
	</li>
	{% for cat in site.data.proj_filter %}
	<li class="nav-item">
		<a id="{{ cat.name }}" class="nav-link" href="#" onclick="filterSelection('{{ cat.name }}')">
			{{ cat[page.lang] }}
		</a>
	</li>
	{% endfor %}
</ul>
<div class="d-flex flex-wrap">
	{% for proj in site.projects %}
		<button class="filterDiv {{ proj.category }} tablinks flex-fill flex-grow-1 btn btn-light rounded-0" style="min-width: 192px;" onclick="openGame(event, '{{ proj.short }}', {{ forloop.index0 }})" {% if forloop.index0 == 0 %} id="defaultOpen" {% endif %} >
				{{ proj.title }}
		</button>
  {% endfor %}
	{%- include clear -%}
</div>
