<div class="bar">
	{{ site.data.locales[page.lang].filter }}:
	<button id="defaultClass" class="link-button padding-small bg4 hover2 active cat_btn" onclick="filterSelection('all')">{{ site.data.locales[page.lang].show_all }}</button>
	{% for cat in site.data.proj_filter %}
	<button id="{{ cat.name }}" class="link-button padding-small bg4 hover2 cat_btn" onclick="filterSelection('{{ cat.name }}')">{{ cat[page.lang] }}</button>
	{% endfor %}
</div>
<div class="games-tab flex">
	{% for proj in site.projects %}
		<div class="left flex-grow filterDiv {{ proj.category }}"><button class="link-button bg4 hover2 min-192 full tablinks" onclick="openGame(event, '{{ proj.short }}', {{ forloop.index0 }})" {% if forloop.index0 == 0 %} id="defaultOpen" {% endif %} >{{ proj.title }}</button></div>
    {% endfor %}<div style="clear:both;"></div>
</div>