<div class="header">
	<nav class="navMenu">
   		<ul>
       		<li><a href="/">Home</a></li>
        	<li><a href="/about">About</a></li>
       		<li><a href="/cv">CV</a></li>
       		<li><a href="/blog">Blog</a></li>
   		</ul>
	</nav>

	<img class="headerimage" src="/assets/img/Cabeca-01.jpg" style="width:100%">
    <div class="headerbox">
        <section class="w3-container w3-center" style="max-with:600px">
            <h2 class="w3-wide">KAIQUE DE QUEIROZ</h2>
			<h3 class="typewrite" data-period="2000" data-type='[ "Game Developer", "C++ Java Python", "Game Designer", "Coding HTML, CSS and JS", "Games from scratch", ":)" ]'>
                <span class="wrap"></span>
			</h3>
        </section>
        {% include social.html %}
    </div>
    </header>
</div>