<!-- Top Navigation bar -->
<div class="topbar">
	<a class="nav-item nav-button menu-btn" href="javascript:void(0)" onclick="k_open()"><i class="fa fa-bars"></i></a>
	<a class="nav-item nav-button" href="/" >Home</a>
	<a class="nav-item nav-button" href="/games">Games</a>
	<a class="nav-item nav-button" href="/about">About</a>
	<a class="nav-item nav-button" href="/blog">Blog</a>
	<a class="nav-item nav-button" href="/cv">CV</a>
</div>
<!-- Side Navigation bar -->
<nav class="sidebar collapse" id="mySidebar">
  <a href="javascript:void(0)" onclick="k_close()" class="menu-btn" title="Close Menu">
    <b>X</b>
  </a>
  {% include card.html %}
  <hr>
  <b>You may like:</b>
  <a class="nav-item nav-button" href="#">Artificial Inteligence</a>
  <a class="nav-item nav-button" href="#">Unreal Engine</a>
  <a class="nav-item nav-button" href="#">Events</a>
  <a class="nav-item nav-button" href="#">Games Developed</a>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="overlay" onclick="k_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>