<!-- Top Navigation bar -->
<nav class="bar bg3">
  <!-- SIDEBAR BUTTON -->
  {% if page.lang == "br" %}
	 <!-- LANGUAGES -->
	 <a class="link-button right hover1" href="/">EN</a>
	 <!-- NAVIGATION -->
	 {% for item in site.data.navitems %}
	 <a class="link-button hover1" href="/br/{{ item.addr }}" >{{ item.name_br }}</a>
	 {% endfor %}
  {% else %}
	 <!-- LANGUAGES -->
	 <a class="link-button right hover1" href="/br">PT-BR</a>
	 <!-- NAVIGATION -->
	 {% for item in site.data.navitems %}
	 <a class="link-button hover1" href="/{{ item.addr }}" >{{ item.name }}</a>
	 {% endfor %}
  {% endif %}
</nav>