<aside class="third collapse"><!-- Side Navigation bar -->
  <div class="bg2 text-c2 card">
    {%- include elem/card.html -%}
  </div>
  <div class="bg2 text-c1 card">
    <div class="padding text-c2"><b>Social:</b></div>
    <div class="padding-bottom">
      {%- include elem/social.html -%}
    </div>
  </div>
  <div class="bg2 text-c2 card">
    <div class="padding"><b>You may like:</b></div>
    {%- if page.related -%}
      {%- for item in page.related -%}
        {%- for c in site.data.related -%}
          {%- if c.name == item -%}
            <a class="link-button full hover1" href="{{ c.addr }}">{{ c.title }}</a>
          {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    {%- else -%}
    <a class="link-button full hover1" href="#">Artificial Inteligence</a>
    <a class="link-button full hover1" href="#">Unreal Engine</a>
    <a class="link-button full hover1" href="#">Events</a>
    <a class="link-button full hover1" href="#">Games Developed</a>
    {%- endif -%}
    <p>The site is under development :)</p>
  </div>
</aside><!-- END Side Navigation bar -->
