<div class="socialMedia headersocial">
	<a href="#"><i class="fa fa-envelope"></i></a>
	<a href="http://www.pinterest.com/kaiqueq"><img src="/assets/svg/pinterest.svg"></a>
	<a href="https://twitter.com/kiq005"><img src="/assets/svg/twitter.svg"></a>
	<a href="https://www.youtube.com/user/PostaTudoVideos"><img src="/assets/svg/youtube.svg"></a>
	<a href="https://www.linkedin.com/in/kaique-queiroz-40bba074"><img src="/assets/svg/linkedin.svg"></a>
	<a href="http://instagram.com/kiq005"><img src="/assets/svg/instagram.svg"></a>
	<a href="https://plus.google.com/102114112973931296101?rel=author"><img src="/assets/svg/googleplus.svg"></a>
	<a href="https://github.com/kiq005"><img src="/assets/svg/github.svg"></a>
</div>