---
layout: default
title: Tools
related:
  - cv
  - projects
  - games
  - jams
jquery: true
css: tools.css
lang: en
---
<h2>Japanese Study Tools</h2>

<p>Let's study japanese!</p>

{% include elem/tools_list.html %}

<p>Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! </p>

{% include apps/kanji_guess.html %}

<p>Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! </p>

<p>Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! </p>

<p>Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! Let's study japanese! </p>