---
layout: default
title: Tools
related:
  - cv
  - projects
  - games
  - jams
jquery: true
css: tools.css
lang: en
---
<h2>Management Tools</h2>

<p>
I love management and I love doing programs, so, on this page, you find the result of both passions. Here you will find tools and commentaries about management of projects, business, and people. Let's get started!
</p>

{% include elem/tools_list.html %}

<p>
The best thing is to start with a quotation:
</p>

<div class="quote">
<q>Your mind is for having ideas, not holding them.</q>
<br><span>- David Allen</span>
</div>

<p>
When we have lots of things in our brain, it gets hard to get things done. The main purpose of this method is to fast decision making, to leave you with the action part.
</p>

{% include apps/gtd.html %}

<p>
I implemented this tool to help you with the steps of the method! But be aware that this is not enough to use the "Getting Things Done" methodology.
</p>

<p>
[Soon I'll update the page, with more info about the methodology, more links and tools]
</p>