html,body{
    height:100%;
    overflow-x: hidden;
}

/* Includes */
{% include css/font_awesome.css %}

/* Extra */
.table-hover-cell th:hover {
    color: #0000f1;
    cursor: pointer;
}
.table-hover-cell .nohover {
    color: #000000;
    cursor: default;
}

.table-hover-cell .nohover:hover {
    color: #000000;
    cursor: default;
}
