/* Main */
body{margin: 0;}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible;
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}

/* Fonts */
html, body {font-family:Verdana,sans-serif;}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{text-align: justify;}
img{max-width: 100%;}
.serif{font-family:serif}
.wide{letter-spacing:4px}
.obs{color: #666666;font-size:12px;}

/* Links */
a {text-decoration: none;color: #0645ad;background: none;}
a:hover, a:focus {text-decoration: underline;}
a.fa{color:#fff;text-shadow: 2px 2px 4px #000000;}
a.fa:hover, a.fa:focus{color: #0645ad;}

/* Colors */
.bg1 {
    color:#222222 !important;
    background-color:#f1f1f1 !important;
}

.bg2 {
    color: #222222 !important;
    background-color: #fff !important;
}

.bg3 {
    color: #fff !important;
    background-color: #009688 !important;
}

.bg4 {
    background-color:#222222 !important;
    color:#fff !important;
}

.bg5 {
    background-color: #4CAF50 !important;
    color: white !important;
}

.text-c1 {
    color:#222222 !important;
}

.text-c2 {
    color:#757575 !important;
}

.text-c3 {
    color:#009688 !important;
}

.text-c4 {
    color:#fff !important;
}

.hover1:hover {
    color: #222222 !important;
    background-color: #ccc !important;
}

.hover2:hover {
    background-color: #45a049 !important;
}

.hover3:hover {
    color: #ccc !important;
    background-color: #222222 !important;
}

.hover4:hover {
    color:#0645ad !important;
}

/* Elements */
.content {
    position: relative;
    max-width:1400px;
    margin:auto;
    margin-top: 32px;
}

.container {
    padding:0.01em 16px;
}

.display-container {
    position: relative;
    display: block;
    overflow: hidden;
}

.bar {
    width:100%;
}

.card {
    position: relative;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 12px;
}

.tag {
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}

.row-padding > *{
    padding:0 8px;
}

.row-padding:after,.row-padding:before {
    content:"";
    display:table;
    clear:both;
}

/* Social */
.socialMedia .fa{font-size: 18px;}
/* Buttons - Links */
.link-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.link-button:hover {
    text-decoration: none;
}

.btn-general {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.active {
    cursor: pointer;
    background-color: #4CAF50 !important;
}

/* Quotes */
.quote {
    font-family: Georgia, serif;
    display: inline-block;
    padding: 8px 16px 8px 4px;
    margin: 4px;
    background-color: #f1f1f1;
    border-left: 16px solid #999999;
}
.quote q{
    position: relative;
    quotes: "\201C" "\201D";
}

.quote span{
    font-style: italic;
    padding-left: 16px;
}
/* Forms */
input, select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Caracteristics */
.border {border:1px solid #ccc;}
.shadow {text-shadow: 2px 2px 4px #000000;}
.no-dec, .no-dec:hover {text-decoration: none;}
/* Positions */
.disp-bottom {position:absolute;bottom: 0;}
.disp-left {position:absolute;left: 0;}
.disp-top {position:absolute;top: 0;}
.disp-right {position:absolute;right: 0;}
.center {display: block;width: auto;text-align: center;}
.right {float: right!important;}
.left {float: left!important;}
/* Padding */
.padding-small {padding:  4px  8px;}
.padding       {padding:  8px 16px;}
.padding-large {padding: 12px 24px;}
.padding-16{ padding: 16px;}
.padding-32{ padding: 32px;}
.padding-64{ padding: 64px;}
.padding-bottom {padding-bottom: 16px}
/* margins */
.margin-tiny {margin:  2px  4px;}
.margin-small {margin:  4px  8px;}
.margin       {margin:  8px 16px;}
.margin-large {margin: 12px 24px;}
.margin-16{ margin: 16px;}
.margin-top  {margin-top:16px;}
.margin-right{margin-right: 8px;}
.margin-bottom  {margin-bottom:16px;}
/* Flex */
.flex {display: flex;flex-wrap: wrap;}
.hyper-flex {display: flex; flex-wrap: wrap;justify-content: space-around; align-items:center; align-content: space-around;}
.flex-grow {flex-grow: 1;}
/* sizes */
.full {float: left;width: 100%;flex: 100%;}
.half {float: left;width: 50%;flex: 50%;}
.two-third{float: right;width: 66.66666%;flex: 66.66666%;}
.third {float: left;width: 33.33333%;flex: 33.33333%;}
.quarter {float: left;width: 25%;flex: 25%;}
.h100 {height: 100%;}
/* Min Sizes */
.min-8   {min-width:   8px;}
.min-16  {min-width:  16px;}
.min-24  {min-width:  24px;}
.min-32  {min-width:  32px;}
.min-64  {min-width:  64px;}
.min-128 {min-width: 128px;}
.min-192 {min-width: 192px;}
.min-256 {min-width: 256px;}
/* FX */
.transparent {opacity:0.00;transition: 0.3s;}
.low-opacity {opacity:0.60;transition: 0.3s;}
.normal-opacity {opacity: 1.00;transition: 0.3s;}
.maximized-pane {
    position: fixed;
    overflow: auto;
    top:0; left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    flex-grow: 1;
}
.medium-size-pane {
    position: absolute;
    overflow: auto;
    top:0;left:0;
    width: 100%;
    height: 100%;
    z-index: 3;
    flex-grow: 1;
}
.modal {z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.modal-content {margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.modal-content img{width: 100%;}
.blur{filter: blur(8px);transition: 1.2s filter linear;}
.noblur{transition: 1.2s filter linear;}
/* Includes */
{% include css/font_awesome.css %}
{% include css/hover_menu.css %}