---
layout: default
title: Tools
related:
  - cv
  - projects
  - games
  - jams
jquery: true
css: tools.css
lang: br
---
<h2>Ferramentas para gerenciamento</h2>

<p>
I love management and I love doing programs, so, in this page you find the result of both passions. Here you will find tools and commentaries about management, that can vary from small projects, to bussiness and people. Let's get started!
</p>

{% include elem/tools_list.html %}

<p>
The best thing is to start with a cotation:
bla bla bla
When we have lots of thing in our brain, it get hard to get things done. The main proupose of this method is to fast decision making, to leave you with the action part.
</p>

{% include apps/gtd.html %}

<p>
I implemented this tool to help you with the steps of the method! But be aware that this is not enough to use the Getting Things Done methodology.
</p>

<p>
[Soon I'll update the page, with more info about the methodology, more links and tools]
</p>