---
layout: default
maximize: true
---
<article class="card maximize">
	<div class="card-header">
		<h2 class="card-title">{{ page.title }}</h2>
		<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublised" class="text-muted">{% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}{{ page.date | date: date_format }}
		</time>
	</div>
	<div class="card-body">
		{{ content }}
	</div>
	<div class="card-footer text-right">
		{%- for cat in page.categories -%}
    <a class="badge badge-pill badge-info mr-2" href="{{ site.url }}/category/{{ cat }}.html" title="{{ cat }}">{{ cat }}</a>
    {%- endfor -%}
		<a href="{{ page.url | relative_url }}" class="btn btn-primary btn-sm">Permanent link</a>
	</div>
</article>

{% if page.youtube %}
	{% include scripts/youtube_support.html %}
{% endif %}

<script type="text/javascript">
	var i, j;
	var codes = document.getElementsByTagName("code");

	for(i=0; i<codes.length; i++){
		var lines = codes[i].innerHTML.split("\n");
		codes[i].innerHTML = "";
		for(j=0; j<lines.length - 1; j++){
			codes[i].innerHTML += (j+1) + ".   " + lines[j] + "\n";
		}
	}
</script>
